/*-- scss:defaults --*/

/*-- Define colors for later use --*/
$primary: #8B0A50; /* header bar */
$secondary: #8B0A50;

$tertiary: #8B0A50; /* button */


$body-bg: #b4cdcd; /* foot bar and box */
$body-color: #00246B;
$h1-font-family-sans-serif: 'Roboto';
$success: #00246B;





/*-- scss:rules --*/



#title-block-header.quarto-title-block.default .quarto-title .title {
    font-family:'Roboto';
    font-size: 3em;
    color: red;
}
.navbar-dark .navbar-brand {
    color: #dee2e6;
    font-family: 'Roboto';
}



/*-- color of name Lucas TRAN in header bar --*/
.navbar-dark .navbar-brand {
    color: #ebf6f8;
    font-family: 'Roboto';
}
¨

/*-- color of text in header bar --*/
.navbar-dark .navbar-nav .nav-link {
    color: #ebf6f8;
}



/*-- color of text in header bar when clicking --*/
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: yellow;
}   

.btn-secondary {
    color: #ebf6f8;
    background-color: #ebf6f8;
    border-color:#ebf6f8;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    font-family: 'Roboto';
    font-size: 3em;
    color: #00246B;
}


div.quarto-post .listing-categories .listing-category {
    color: #00246B;
    border: solid #00246B 1px;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: .65em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
}

/*-- color of header*/

#title-block-header.quarto-title-block.default .quarto-title .title {
    font-family: 'Roboto';
    font-size: 3em;
    color: #00246B;
}

.nav-footer .nav-footer-left {
    font-family: 'Roboto';
    font-size: .825em;
    color: #dee2e6;
}
